<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.job.mapper.CompanyFinanceMapper" >

    <select id="queryCompanyFinance"  resultType="com.job.pojo.CompanyFinance" >
        select * from db_company_financing
    </select>

</mapper>