<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.job.mapper.ExpMapper" >

    <select id="queryExp"  resultType="com.job.pojo.Exp" >
        select * from db_exp
    </select>

</mapper>