<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.job.mapper.IndustryMapper" >

    <select id="queryIndustry"  resultType="com.job.pojo.Industry" >
        select * from db_industry
    </select>

</mapper>